{% extends 'base.html' %}

{% block body %}
    <form method="POST" action="{{url_for('add_user')}}">
        {{ form.csrf_token }}
        <p> {{ form.name.label }} {{ form.name(size=20) }} </p>
        <p> {{ form.lastname.label }} {{ form.lastname(size=20) }} </p>
        <p> {{ form.login.label }} {{ form.login(size=20) }} </p>
        <p> {{ form.desc.label }} {{ form.desc() }} </p>
        <input type="submit" value="Submit">
    </form>
{% endblock %}
