<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>Python Project 3</title>
    </head>
    <body>
        <ul>
            <li><a href="{{ url_for('add_user') }}">Add user</a> </li>
            <li><a href="{{ url_for('list_user') }}">List user</a> </li>
        </ul>
        {% block body %}
        {% endblock %}
    </body>
</html>
