{% extends 'base.html' %}

{% block body %}
    <ul>
        {% for user in users %}
        <li><a href="{{ url_for('show_user', id=user.id) }}"> {{ user.login }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
