{% extends 'base.html' %}

{% block body %}
    <div class="name">{{ user.name }}</div>
    <div class="lastname">{{ user.lastname }}</div>
    <div class="login">{{ user.login }}</div>
    <div class="desc">{{ user.desc }}</div>
{% endblock %}
